.signUp {
  overflow: scroll;
  justify-content: "center";
  align-content: "center";
  align-items: "center";
}

.signIn {
  background: khaki;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.Career {
  background: khaki;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 59px;
}
.street {
  width: 780px;
  height: 20rem;
  animation: street1 20s infinite;
  /* background-image: url("./assets/street.png"); */
  background-repeat: no-repeat;
  background-size: 100%;
}
@keyframes street1 {
  33% {
    background-image: url("./assets/dirtystreet.jpg");
  }
  95% {
    background-image: url("./assets/cleanstreet.jpg");
  }
  100% {
    background-image: url("./assets/office.jpg");
  }
}
