.headerContainer {
  background: #a0ced9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.headerContainer h1 {
  color: cornsilk;
  padding-left: 50px;
}

.headerContainer ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.headerContainer ul li {
  list-style: none;
  padding-right: 15px;
}

.headerContainer ul li a {
  color: white;
  text-decoration: khaki;
}
.headerContainer ul li a:hover {
  color: blue;
  font-size: 4 rem;
}

.headerContainer2 img {
  border-radius: 450px;
  width: 40%;
}
